fastcore
dash
dash-building-blocks
dash-bio
ipywidgets
joblib
jupyter-dash
lazy_import
numpy<1.24,>=1.2
matplotlib
# for numba
plotly
pyyaml
termcolor
typeguard
Ipython
setuptools==62.0.0
scikit-learn
